.body_container {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.menu_bar {
    background-color: #b00e0e;
    width: 700%;
    padding: 3px;
    padding-left: 30px;
    margin-left: -80px;
}

.menu_bar ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

a.menu_link {
  color: #ececec;
  padding:19px;
}
.menu_bar ul li, .footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

a.menu_link:hover {
    text-decoration: underline;
    background-color: #8c0b0b;
    padding-top:21px;
    padding-bottom:21px;
}
h1 {
    font-size: 48px;

}

.footer {
    border-top: 1px solid #d5d5d5;
    font-size: 12px;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 24px;
}

ul.posts li {
    list-style: none;
}

table.resume_links_table {
    margin:60 auto;
    width:80%;
    padding:20px;
    text-align:center;
}

table.resume_links_table a{
  font-size:16px;

}

.blurb{
    margin-top:50px;
    font-size: 24px;
    line-height: 22px;
    color: #333;
}

.work_table td{
  border: 1px black solid;
  padding: 1px;
}
