<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<body>
			<div class="body_container">
				<div class="menu_bar">
					<ul>
						<li class="menu_li"><a href="/">Home</a></li>
						<li class="menu_li" ><a href="/about">About</a></li>
						<li class="menu_li" ><a href="/cv">Resume</a></li>
						<li class="menu_li" ><a href="/work_examples">Work Examples</a></li>
						<li class="menu_li" ><a href="/blog">Blog</a></li>
					</ul>
				</div>
				<div class="container">

				{{ content }}

				</div><!-- /.container -->
				<div class="footer">
		    		<ul>
		        		<li><a href="mailto:melonisj@icloud.com">Email</a></li>
		        		<li><a href="https://github.com/melonisj">github.com/melonisj</a></li>
					</ul>
				</div>
			</div>
		</body>
	</html>
